<div class="wrap">
  <div class=" mt-4 bg-white table-wrap br10 bgset" *ngIf="showLiveEvents">
    <table class="table my-0 fs-6">
      <thead class="upcomingthead" *ngIf="defaultactiv=='upcoming';else liveEvent">

        <div class="row upcomingdiv" *ngIf="showupcoming;else showlive">
          <div class="nonepdlr text-center pt-2 pb-2 col-6 px-4 sidetab sidectselbtn" (click)="switchtab()">Upcoming
            Match
          </div>
          <div class="nonepdlr text-center pt-2 pb-2 col-6 px-4 sidetab sideunselbtn" (click)="switchtab()">Live
            Events
          </div>
        </div>
        <ng-template #showlive>
          <div class="row upcomingdiv">
            <div class="nonepdlr text-center pt-2 pb-2 col-6 px-4 sidetab sideunselbtn " (click)="switchtab()">
              Upcoming
              Match
            </div>
            <div class="nonepdlr text-center pt-2 pb-2 col-6 px-4 sidetab sidectselbtn " (click)="switchtab()">Live
              Events
            </div>
          </div>
        </ng-template>
      </thead>
      <ng-template #liveEvent>
        <thead class="upcomingthead">
          <div class="row upcomingdiv" *ngIf="!showupcoming;else showlive">
            <div class="nonepdlr text-center pt-2 pb-2 col-6 px-4 sidetab sidectselbtn" (click)="switchtab()">Live
              Events
            </div>
            <div class="nonepdlr text-center pt-2 pb-2 col-6 px-4 sidetab sideunselbtn" (click)="switchtab()">Upcoming
              Match
            </div>
          </div>
          <ng-template #showlive>
            <div class="row upcomingdiv">
              <div class="nonepdlr text-center pt-2 pb-2 col-6 px-4 sidetab sideunselbtn " (click)="switchtab()">Live
                Events
              </div>
              <div class="nonepdlr text-center pt-2 pb-2 col-6 px-4 sidetab sidectselbtn " (click)="switchtab()">
                Upcoming
                Match
              </div>
            </div>
          </ng-template>
        </thead>
      </ng-template>
    </table>
    <table>
      <tbody *ngIf="showupcoming;else showliveeventtbody">
        <div class="row upcomingdiv px-3">
          <div class="nonepdlr text-center pt-2 pb-2 col-6 px-4 sidectselbtn"></div>
          <div class="nonepdlr text-center pt-2 pb-2 col-5 px-4 sidectselbtn"></div>
          <div class="nonepdlr text-center pt-2 pb-2 col-1 px-4 sidectselbtn"></div>
        </div>
        <ng-template>
          <h5 class="p-2">No upcoming matches!</h5>
        </ng-template>
      </tbody>
      <ng-template #showliveeventtbody>
        <tbody *ngIf="liveEvents.length;else noliveevents">
          <tr>
            <div class="row upcomingdiv px-3">
              <div class="nonepdlr text-center pt-2 pb-2 col-6 px-4 sidectselbtn"></div>
              <div class="nonepdlr text-center pt-2 pb-2 col-5 px-4 sidectselbtn"></div>
              <div class="nonepdlr text-center pt-2 pb-2 col-1 px-4 sidectselbtn"></div>
            </div>
          </tr>
          <tr class="tournament-link p-2" (click)="navigateToTournament(liveEvent.name, liveEvent.date)"
            *ngFor="let liveEvent of liveEvents; let i = index">
            <td class="col-1 p-0 pe-2 image-container p-2">
              <img [src]="liveEvent.image" style="width: 3em"
                onerror="this.onerror=null; this.src='assets/icons/sportsman-images/noprofile.bmp'" />
            </td>
            <td>
              <p class="m-0 p-0 eventname">{{ liveEvent.name }}</p>
            </td>
            <td>
              <p class="m-0 p-0 eventcountry text-description">{{ liveEvent.country }}</p>
            </td>
          </tr>
        </tbody><ng-template #noliveevents>
          <h5 class="p-2">No live events!</h5>
        </ng-template>
      </ng-template>
    </table>
  </div>


  <div class="p-3 mt-3 bg-white table-wrap br20" *ngIf="showAtpRanking">
    <table class="table my-0 fs-6">
      <thead>
        <tr>
          <th colspan="4" class="px-4 ">
            <img [src]="'assets/icons/blackstar.png'" style="width: 1em;padding-bottom: 1%;" />&nbsp;&nbsp;ATP Rankings
          </th>
        </tr>
      </thead>

      <tbody>
        <tr class="profile-link" *ngFor="let row of atpRankings; let i = index"
          (click)="navigateToProfile(row.player.name)" href="/asdf">
          <td class="col-1 px-0">{{ i + 1 }}</td>
          <td>
            <img [src]="'assets/icons/flags/' + row.player.countryAcr + '.svg'" style="width: 1.9em" />
          </td>
          <td>
            <span>{{ row.player.name }}</span>
          </td>
          <td class="text-end">
            <span>{{ row.point }} PTS</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="p-3 mt-4 bg-white table-wrap text-nowrap br20" *ngIf="showInterestingH2h">
    <table class="table my-0 fs-6">
      <thead>
        <tr>
          <th colspan="4" class="px-4 ">
            <img [src]="'assets/icons/blackstar.png'" style="width: 1em;padding-bottom: 1%;" />&nbsp;&nbsp;Interesting
            H2H's
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let row of interestingH2h; let i = index" class="align-middle">
          <td class="">
            <app-sportsman [number]="2" [isShortName]="false" [fullname]="row.player1.name"
              [countryCode]="row.player1.countryAcr" [hasLink]="true"></app-sportsman>
            <app-sportsman [number]="3" [isShortName]="false" [fullname]="row.player2.name"
              [countryCode]="row.player2.countryAcr" [hasLink]="true"></app-sportsman>
          </td>
          <td class="">
            <p class="h2h-link">
              <span class="py-1 py-md-2 px-0 d-flex">
                <img src="assets/icons/Vector.png" class="statsimg">
                <p class="m-0 text-nowrap overflow-visible greencolor">Stats</p>
              </span>
            </p>
          </td>
          <td class="">
            <p class="text-end interestendtext">{{ row.player1Wins }}</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>