<div class="row information-wrap">
  <div class="col-12 pb-3">
    <div class="information-wrap bg-white h-100">
      <div class="row pt-3 p-3 align-items-center">
        <div class="row p-3 align-items-center">
          <p class="table-title careerstatehead fw-bold">{{profileName}} Singles Titles & Finals</p>
        </div>
      </div>
      <div class="bg-white information-wrap table-wrap pb-1 text-nowrap px-2 px-md-4">
        <div class="arrowbuttongroup row">
          <div class="menubtn">
            <app-arrow-tab [actives]="activeGroups" [width]="sizeOfArrowTabGroupwidth"
              [background]="sizeOfArrowTabGroupbag" (activeChanged)="changeActiveGroup($event)"></app-arrow-tab>
          </div>
          <div class="menufilter" *ngIf="yearFilters.length">
            <app-selector [options]="yearFilters" [formControl]="getFormControl('year')" name="year"
              [defaultValue]="yearFilters[1].value"></app-selector>
            <!-- <app-year-picker [years]="years" (changeYear)="changeYear($event)"></app-year-picker> -->
          </div>
        </div>
        <div class="row bsguttor">
          <div class="bg-white information-wrap table-wrap pb-1 text-nowrap px-2 px-md-4">
            <table class="table text-center mb-1">
              <thead>
                <tr class="text-uppercase text-start bdzero">
                  <td class="text-center px-0 py-2 py-md-3 pt-0 table-wrap"><span
                      class="py-1 py-md-2 px-0">TOURNAMENT</span>
                  </td>
                  <td class="text-center px-0 py-2 py-md-3 pt-0 table-wrap"><span
                      class="py-1 py-md-2 px-0">SURFACE</span>
                  </td>
                  <td class="text-center px-0 py-2 py-md-3 pt-0 table-wrap"><span class="py-1 py-md-2 px-0">PRIZE
                      MONEY</span>
                  </td>
                </tr>
              </thead>

              <tbody *ngIf="showtitle == 'true' ;else showfinal">
                <tr *ngFor="let title of titles" class="align-middle"
                  (click)="navigateToTournament(title.name, title.date)">
                  <td class="px-0 py-2 py-md-3 pt-0 table-wrap lefttprow">
                    <span class="py-1 py-md-2 px-0"><img [src]="'assets/icons/' + title.court.toLowerCase() + '.svg'">
                      <img class="ms-2" [src]="'assets/icons/flags/' + title.country.acronym + '.svg'">
                    </span>
                    <p class="m-0 p1 greencolor">{{title.name}} </p>
                  </td>
                  <td class="px-0 py-2 py-md-3 pt-0 table-wrap"><span class="py-1 py-md-2 px-0">
                      <p class="m-0">{{title.court}}
                    </span>
                  </td>
                  <td class="px-0 py-2 py-md-3 pt-0 table-wrap"><span class="py-1 py-md-2 px-0">$500.000</span>
                  </td>
                </tr>
              </tbody>
              <ng-template #showfinal>
                <tbody>
                  <tr *ngFor="let final of finals" class="align-middle"
                    (click)="navigateToTournament(final.name, final.date)">
                    <td class="px-0 py-2 py-md-3 pt-0 table-wrap lefttprow">
                      <span class="py-1 py-md-2 px-0"><img [src]="'assets/icons/' + final.court.toLowerCase() + '.svg'">
                        <img class="ms-2" [src]="'assets/icons/flags/' + final.country.acronym + '.svg'">
                      </span>
                      <p class="m-0 greencolor ">{{final.name}} </p>
                    </td>
                    <td class="px-0 py-2 py-md-3 pt-0 table-wrap"><span class="py-1 py-md-2 px-0">
                        <p class="m-0">{{final.court}}
                      </span>
                    </td>
                    <td class="px-0 py-2 py-md-3 pt-0 table-wrap"><span class="py-1 py-md-2 px-0">$500.000</span>
                    </td>
                  </tr>
                </tbody>
              </ng-template>
              <ng-template #noDatas>
                <h5>No Datas</h5>
              </ng-template>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>