<div class="col pt-4">
  <div class="carddiv">
    <div class="header p-4 row">
      <p class="table-title careerstatehead fw-bold">Nadal vs Federer H2H Matches Only</p>
    </div>
    <div class="content_header p-3 pt-2 pb-2 d-flex" *ngIf="filtersFormGroup.controls?.level">
      <div class="p-2 pt-1 pb-1">
        <app-selector [type]="'rankingsel'" [options]="levelFilters" [formControl]="getFormControl('level')"
          name="level" [defaultValue]="levelFilters[0].value"></app-selector>
      </div>
      <div class="p-2 pt-1 pb-1">
        <app-selector [type]="'rankingsel'" [options]="surfaceFilters"
          [formControl]="getFormControl('court')"></app-selector>
      </div>
      <div class="p-2 pt-1 pb-1">
        <app-selector [type]="'rankingsel'" [options]="roundFilters"
          [formControl]="getFormControl('round')"></app-selector>
      </div>
      <div class="p-2 pt-1 pb-1">
        <app-selector [type]="'rankingsel'" [options]="tournamentFilters"
          [formControl]="getFormControl('tournament')"></app-selector>
      </div>
    </div>

    <div class="content">
      <ng-container *ngIf="h2hStats && !errorMessage; else noStat">
        <div class="col-12 p-0">
          <app-short-table [showHeader]="true" [headers]="headers" [data]="playerEventStats"></app-short-table>
        </div>
      </ng-container>
    </div><ng-template #noStat>
      <div class="p-4">No Stat</div>
    </ng-template>
  </div>
  <div class="p-1 table-wrap"></div>
</div>