@font-face {
    font-family: "Source Code Pro";
    src: url(assets/fonts/source-sans-pro/SourceSansPro-Regular.ttf);
}

@font-face {
    font-family: "Digital Number";
    src: url(assets/fonts/digital-numbers/DS-DIGIB.TTF);
}